<!--Janela Universo-->
<div class="modal hide fade" id="universo">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Dica do Exercício:<!--Chamada:{{universo.universo.nome}}--></h3>
  </div>
  <div class="modal-body">
    <span class="help-block well well-small"><i class="icon icon-info-sign"></i> {{exercicio.Exercicio.dica}} </span>
     <!--<span ng-repeat="el in universo.universo.elemento">
     <img src="universos/{{exercicio.Exercicio.universoTipo}}/imagens/{{el.imagem}}" alt="{{el.nome}}"  title="{{el.nome}}" />
  </span>-->
  </div>
  <div class="modal-footer">
      <button type="button" class="btn" data-dismiss="modal" >Fechar</button>
  </div>
</div>
<!--Quadro Exercício-->
<div class="row-fluid">
        <div class="well well-small">
            <h4>Exercício</h4>
            <div class="well well-small">{{exercicio.Exercicio.enunGabarito}}<br /><a href="#universo" role="button" class="btn" data-toggle="modal">Dica<!--Detalhes do universo <b>{{universo.universo.nome}}--></b></a></div>
            <h4>Universo</h4>
            <p><span ng-repeat="el in universo.universo.elemento">
            <img src="universos/{{exercicio.Exercicio.universoTipo}}/imagens/{{el.imagem}}" alt="{{el.nome}}"  title="{{el.nome}}" /></p>
  </span>
        </div>
    </div>
    <div class="row-fluid">
        <div class="well well-small">
            <h4>
                Construção da solução <!--(total: {{etapas.length}})--> 
                    <div class="btn-group">
                      <button class="btn btn-small" ng-click="novoEstagio()">Novo Estágio</button>
                      <button class="btn btn-small" ng-click="reiniciar()">Reiniciar</button>
                    </div>
            </h4>
        </div>
        <div class="span9" ng-repeat="etapa in etapas">
        <div class="span9">
            <div class="well">
                <button type="button" class="close" ng-click="removerEtapa(this)">&times;</button>
                Eu quero <input type="text" class="input-mini" style="text-align: right" ng-model="etapa.numElementos" /> elementos que verifiquem
                <select class="span3" ng-model="etapa.verifiquem">
                    <option value="0">nenhuma propriedade</option>
                    <option value="1">uma propriedade</option>
                    <option value="2">duas propriedades</option>
                </select>

                <div ng-show="etapa.verifiquem>0">
                    Escolha as configurações que definem os elementos <br />
                    <select class="span3" ng-model="etapa.propriedades[0].tipo">
                        <option value="{{atr}}" ng-repeat="atr in atributos">{{atr}}</option>
                    </select>
                    <select class="span3" ng-model="etapa.propriedades[0].operador">
                        <option value="AND">é</option>
                        <option value="NOT_AND">não é</option>
                        <option value="IN">está em</option>
                        <option value="NOT_IN">não está em</option>
                    </select>
                    <select class="span3" ng-model="etapa.propriedades[0].atributo">
                        <option value="{{atr}}" ng-repeat="atr in atributosValores[etapa.propriedades[0].tipo]">{{atr}}</option>
                    </select>
                </div>

                <div ng-show="etapa.verifiquem>1">e <br />
                    <select class="span3" ng-model="etapa.propriedades[1].tipo">
                        <option value="{{atr}}" ng-repeat="atr in atributos">{{atr}}</option>
                    </select>
                    <select class="span3" ng-model="etapa.propriedades[1].operador">
                        <option value="AND">é</option>
                        <option value="NOT_AND">não é</option>
                        <option value="IN">está em</option>
                        <option value="NOT_IN">não está em</option>
                    </select>
                    <select class="span3" ng-model="etapa.propriedades[1].atributo">
                        <option value="{{atr}}" ng-repeat="atr in atributosValores[etapa.propriedades[1].tipo]">{{atr}}</option>
                    </select>
                </div>
            </div>
        </div>
        </div>
    </div>